# Python
*.py[cod]
__pycache__/

# Package
*.egg
*.egg-info/
dist/
build/
_build/

# anything hidden should be manually added
.*

# input data files
*.trxyt
*.txt

# generated rwa and image files
*.rwa
*.h5
*.cluster
*.vmesh
*.png
*.jpg
*.jpeg
*.svg

# notebooks
*.ipynb

# singularity containers
*.sif

# credential files
*.credentials

# others
*.zip
*.tar
*.gz
*.bz2
